.auth-input-con {
  position: relative;
}

.auth-input-con::before {
  content: "";
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all 0.5s ease-out;
}

.auth-input-con:hover::before {
  width: 100% !important;
  transition: all 0.5s ease-in;
}
